@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: white;
}

#land_img {
    /* width: 50%; */
    flex-basis: 50%;
    height: 100%;
}

img {
    width: 100%;
    height: 100%;
}

#land_text {
    font-family: 'Ubuntu', sans-serif;
    flex-basis: 40%;
    background-color: white;
    /* width: 40%; */
}

#right_rect {
    flex-basis: 10%;
    background-color: #edffabff;
    /* width: 10%; */
    height: 100%;
}